.content-boxProject {
  padding: 20px;
  padding-top: 20px;
  margin: auto;
}

/* stles stuff for each porject mentioned in the project page*/
.project {
  display: grid;
  padding: 4.5rem;
  padding-bottom: 3em;
  padding-top: 5px;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 2.5em;
  background: #f0f8ff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.project img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: auto;
}

.project img:hover {
  transform: scale(1.05);
}
