/* Welcome container */
p.Welcome,
h2.Welcome {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 25px;
}

h2.Welcome {
  margin-top: 2rem;
}


/* Button styling */
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 6px;
  margin-left: 45%;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}
